Repository Chidieberetech/Azure-DevOps: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/azure-pipelines.yml, pipelines/init-pipeline.yml, pipelines/templates/plan-pipeline.yml

pipelines/azure-pipelines.yml:
  stages:
  - stage: Validation
    displayName: Terraform Validation
    jobs:
    - job: ValidateModules
      displayName: Validate Terraform Modules
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: TerraformInstaller@0
        displayName: Install Terraform
        inputs:
  ...

pipelines/init-pipeline.yml:
  stages:
  - stage: SetupBackend
    displayName: Setup Terraform Backend
    jobs:
    - job: CreateBackend
      displayName: Create Terraform State Backend
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: AzureCLI@2
        displayName: Create Terraform Backend Resources
        inputs:
  ...

pipelines/templates/plan-pipeline.yml:
  stages:
  - stage: PlanValidation
    displayName: Plan Validation and Preparation
    jobs:
    - job: ValidateConfiguration
      displayName: Validate Terraform Configuration
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: TerraformInstaller@0
        displayName: Install Terraform
  ...

Azure DevOps 1,0
  PIPELINE-SETUP-GUIDE.md
  pipelines/apply-pipeline.yml
  pipelines/init-pipeline.yml
  pipelines/templates/approval.yml
  pipelines/templates/azure-pipelines.yml
  pipelines/templates/destroy-pipeline.yml
  pipelines/templates/password-rotation.yml
  pipelines/templates/plan-pipeline.yml
  pipelines/templates/security-scan.yml
  pipelines/templates/terraform-apply.yml
  pipelines/templates/terraform-init.yml
  pipelines/templates/terraform-plan.yml
Due: pipelines/azure-pipelines.yml

Azure DevOps 1,0
  PIPELINE-SETUP-GUIDE.md
  PROJECT-STRUCTURE.md
  README.md
  pipelines/templates/azure-pipelines.yml
  pipelines/templates/destroy-pipeline.yml
  pipelines/templates/infrastructure-validation.yml
  pipelines/templates/password-rotation.yml
  pipelines/templates/plan-pipeline.yml
  pipelines/templates/terraform-destroy.yml
  scripts/backup-management.sh
  scripts/cost-analysis.sh
  scripts/environment-cleanup.sh
  scripts/health-check.sh
  scripts/monitoring-setup.sh
Due: pipelines/azure-pipelines.yml

Azure DevOps 1,0
  PIPELINE-SETUP-GUIDE.md
Due: none

Azure DevOps 1,0
  CONTRIBUTING.md
  PROJECT-STRUCTURE.md
  README.md
  modules/compute.tf
  modules/database.tf
  modules/keyvault.tf
  modules/locals.tf
  modules/main.tf
  modules/network.tf
  modules/outputs.tf
  modules/security.tf
  modules/storage.tf
  modules/variables.tf
  pipelines/templates/terraform-init.yml
  workspaces/hub/main.tf
  workspaces/hub/outputs.tf
Due: pipelines/azure-pipelines.yml, pipelines/init-pipeline.yml, pipelines/templates/plan-pipeline.yml

Azure DevOps 1,0
  README.md
Due: none

Azure DevOps 1,0
  modules/compute.tf
  modules/locals.tf
  modules/network.tf
Due: pipelines/azure-pipelines.yml, pipelines/init-pipeline.yml, pipelines/templates/plan-pipeline.yml

Azure DevOps 1,0
  modules/locals.tf
Due: pipelines/azure-pipelines.yml, pipelines/init-pipeline.yml, pipelines/templates/plan-pipeline.yml

Azure DevOps 1.0
  README.md
Due: none

Azure DevOps 1.0
  modules/locals.tf
Due: pipelines/azure-pipelines.yml, pipelines/init-pipeline.yml, pipelines/templates/plan-pipeline.yml

Azure DevOps 1.0 Added More Common Tags
  modules/locals.tf
  modules/security.tf
Due: pipelines/azure-pipelines.yml, pipelines/init-pipeline.yml, pipelines/templates/plan-pipeline.yml

Azure DevOps 1.0 - Added More Common Tags
  modules/locals.tf
  modules/security.tf
Due: pipelines/azure-pipelines.yml, pipelines/init-pipeline.yml, pipelines/templates/plan-pipeline.yml

Azure DevOps 1.0 - AVAILABILITY SETS FOR HIGH AVAILABILITY
  modules/compute.tf
Due: pipelines/azure-pipelines.yml, pipelines/init-pipeline.yml, pipelines/templates/plan-pipeline.yml

Azure DevOps 1.0 - Added Spoke Gamma subnet definitions (for future scalability)
  modules/locals.tf
  modules/main.tf
Due: pipelines/azure-pipelines.yml, pipelines/init-pipeline.yml, pipelines/templates/plan-pipeline.yml

Azure DevOps 1.0 - Added Spoke Gamma subnet definitions (for future scalability)
  modules/locals.tf
  modules/main.tf
  modules/versions.tf
Due: pipelines/azure-pipelines.yml, pipelines/init-pipeline.yml, pipelines/templates/plan-pipeline.yml

Azure DevOps 1.0 - missing the required name property
  modules/main.tf
Due: pipelines/azure-pipelines.yml, pipelines/init-pipeline.yml, pipelines/templates/plan-pipeline.yml

Azure DevOps 1.0 - updated the variables.tf file with over 150 new variables to control all the new services
  modules/ai-ml.tf
  modules/analytics.tf
  modules/containers.tf
  modules/devops.tf
  modules/general.tf
  modules/hybrid-multicloud.tf
  modules/identity.tf
  modules/integration.tf
  modules/iot.tf
  modules/management-governance.tf
  modules/migration.tf
  modules/mixed-reality.tf
  modules/monitor.tf
  modules/variables.tf
  modules/web-mobile.tf
Due: pipelines/azure-pipelines.yml, pipelines/init-pipeline.yml, pipelines/templates/plan-pipeline.yml

Azure DevOps 1.0 - Comprehensive coverage
  CONTRIBUTING.md
  PROJECT-STRUCTURE.md
  README.md
Due: none

Azure DevOps 1.0 - Comprehensive coverage for CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Azure DevOps 1.0 - Version Updates Applied
  modules/devops.tf
  modules/iot.tf
  modules/migration.tf
  modules/mixed-reality.tf
  modules/versions.tf
Due: pipelines/azure-pipelines.yml, pipelines/init-pipeline.yml, pipelines/templates/plan-pipeline.yml

Azure DevOps 1.0 - Primary location: Validates against 7 approved Azure regions Secondary location: Ensures geo-redundancy with proper validation
  modules/variables.tf
  modules/web-mobile.tf
Due: pipelines/azure-pipelines.yml, pipelines/init-pipeline.yml, pipelines/templates/plan-pipeline.yml

Azure DevOps 1.0 - Primary location: Validates against 7 approved Azure regions Secondary location: Ensures geo-redundancy with proper validation
  modules/devops.tf
  modules/hybrid-multicloud.tf
  modules/identity.tf
  modules/management-governance.tf
  modules/web-mobile.tf
Due: pipelines/azure-pipelines.yml, pipelines/init-pipeline.yml, pipelines/templates/plan-pipeline.yml

Azure DevOps 1.0 - Removed the unsupported Media Services account resource since it's not available in Azure provider 3.116.0
  modules/web-mobile.tf
Due: pipelines/azure-pipelines.yml, pipelines/init-pipeline.yml, pipelines/templates/plan-pipeline.yml

Azure DevOps 1.0 - Storage Fix
  modules/storage.tf
Due: pipelines/azure-pipelines.yml, pipelines/init-pipeline.yml, pipelines/templates/plan-pipeline.yml

Azure DevOps 1.0 - Storage Fix
  modules/locals.tf
  modules/monitor.tf
  modules/network.tf
  modules/variables.tf
Due: pipelines/azure-pipelines.yml, pipelines/init-pipeline.yml, pipelines/templates/plan-pipeline.yml

Azure DevOps 1.0 - Fixed to use correct variable reference
  modules/monitor.tf
  modules/variables.tf
Due: pipelines/azure-pipelines.yml, pipelines/init-pipeline.yml, pipelines/templates/plan-pipeline.yml

Azure DevOps 1.0 - Fixed to use correct variable reference
  modules/main.tf
Due: pipelines/azure-pipelines.yml, pipelines/init-pipeline.yml, pipelines/templates/plan-pipeline.yml

Azure DevOps 1.0 - Fixed: Use correct attributes instead of blocks
  modules/containers.tf
  modules/iot.tf
  modules/main.tf
  modules/management-governance.tf
  modules/migration.tf
  modules/storage.tf
  modules/variables.tf
  modules/web-mobile.tf
Due: pipelines/azure-pipelines.yml, pipelines/init-pipeline.yml, pipelines/templates/plan-pipeline.yml

Azure DevOps 1.0 - Missing Variable: Added vm_memory_alert_threshold_bytes variable to variables.tf with a default value of 1GB (1073741824 bytes)
  modules/monitor.tf
  modules/network.tf
  modules/outputs.tf
  modules/variables.tf
Due: pipelines/azure-pipelines.yml, pipelines/init-pipeline.yml, pipelines/templates/plan-pipeline.yml

Azure DevOps 1.0 - renamed all references from "staging" to "int"
  PIPELINE-SETUP-GUIDE.md
  README.md
  scripts/backup-management.sh
  scripts/cost-analysis.sh
  scripts/environment-cleanup.sh
  scripts/health-check.sh
  scripts/monitoring-setup.sh
  scripts/vm-password-rotation.sh
  workspaces/spokes/int/main.tf
Due: pipelines/azure-pipelines.yml, pipelines/init-pipeline.yml, pipelines/templates/plan-pipeline.yml

Azure DevOps 1.0 - renamed all references from "staging" to "int"
  README.md
  modules/locals.tf
  modules/variables.tf
Due: pipelines/azure-pipelines.yml, pipelines/init-pipeline.yml, pipelines/templates/plan-pipeline.yml

Azure DevOps 1.0 - renamed all references from "staging" to "int"
  PIPELINE-SETUP-GUIDE.md
  modules/migration.tf
  modules/variables.tf
Due: pipelines/azure-pipelines.yml, pipelines/init-pipeline.yml, pipelines/templates/plan-pipeline.yml

Azure DevOps 1.0 - renamed all references from "staging" to "int"
  CONTRIBUTING.md
Due: none

Azure DevOps 1.0 - renamed all references from "staging" to "int"
  README.md
Due: none

Azure DevOps 1.0 - ### Security Features
  README.md
Due: none

Azure DevOps 1.0 - ### Security Features
  PIPELINE-SETUP-GUIDE.md
Due: none

Path conditions:
  pipelines/azure-pipelines.yml: any of: modules, workspaces, pipelines
  pipelines/init-pipeline.yml: any of: modules, workspaces
  pipelines/templates/plan-pipeline.yml: any of: modules, workspaces
